body{
    background-color: #222831 ;
    color: white;
    padding:0px;
    margin: 0px;
    font-family: PS TT Commons Roman, Gotham SSm A, Gotham SSm B, Arial, sans-serif;;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left-div{
    flex: 4;
    background-color: #0d1013;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-div>img{
    height: 150px;
    width: 300px;
}

.right-div{
    display: flex;
    flex: 6;
    background-image: url(./bg.jpg);
    background-position:center ;
    background-size: cover ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.right-div .title {
    font-size: 35px;
    font-weight: 50;
    margin-bottom: 30px;
}

.right-div .trial-button{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 0.2px solid white;
    padding: 5px;
    height: 30px;
    width: 175px;
}
